.product-cart {
    margin-top: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}

.product-info {
    padding: 10px 20px 50px 10px;
    max-width: 250px;
    display: flex;
    flex: 1 1 250px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.product-text {
    font-weight: 400;
    font-size: 20px;
    color: black;
    height: 50px;
}

.productRatingCounter {
    display: flex;
    align-items: center;
    gap: 5px;
}

.productRatingCounter p {
    font-size: 22px;
    color: rgb(45, 119, 45);
    margin-bottom: 5px;
}

.rating-img {
    width: 50%;
    margin-bottom: 10px;
}

.product-price {
    font-weight: 700;
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

.product-img {
    width: 250px;
    border-radius: 5px;
}

.button-secondary {
    position: relative;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
    padding: 5px 10px;
    margin: 15px 0 40px 0;
}

.downArrow {
    width: 20px;
}

.dropDown {
    position: absolute;
    display: grid;
    top: 35px;
    left: 0;
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    padding: 10px 30px 10px 12px;
    gap: 8px;
}

.bottom-line {
    color: red;
}